/* select-items-box base styles */

.tags-input {
    /*position: relative;
    z-index: 1;*/
    overflow: hidden;
    display: inline-block;
    width: 100%;
    padding: 5px 0 2px 5px;
    border: 1px solid #DDD;
    -moz-border-radius: 3px;
}

.tags-input .token a:hover{
    color: rgba(21, 15, 22, 0.82);
}

.tags-input:focus, .tags-input .token:focus {
    outline: none;
}

.tags-input .token-item {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tags-input .token {
    /* background: none; */
    display: inline-block;
    vertical-align: baseline;
    padding: 3px 0 3px 6px;
    margin: 0 5px 4px 0;
    color: #555;
    cursor: pointer;
    /* background-color: #1b9dec; */
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #1da7ee, #178ee9);*/

}

.tags-input input {

    display: inline-block;
    width: 4px;
    max-height: 20px;

    overflow: auto;
    outline: none;
    position: relative;
    left: 0;

    box-shadow: none;
    max-width: 100% !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 1px !important;
    line-height: inherit !important;
    text-indent: 0 !important;
    background: none !important;
    border: 0 none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-user-select: auto !important;
    -moz-box-shadow: none;
}

.typeahead-box {
    border: 1px solid #CCC;
    padding: 3px;
    overflow: hidden;
}

.typeahead-box input {

    display: inline-block;
    width: 4px;
    height: 25px;

    overflow: auto;
    outline: none;
    position: relative;
    left: 0;

    box-shadow: none;
    max-width: 100% !important;
    max-height: none !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 1px !important;
    line-height: inherit !important;
    text-indent: 0 !important;
    background: none !important;
    border: 0 none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-user-select: auto !important;
    -moz-box-shadow: none;
}

.tags-input .token.selected {
    opacity: .7;
}

.tags-input .remove-token:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
    color: #fff;

}

.tags-input .token-template {
    display: inline-block;
}

.tags-input .token-remove {
    display: inline-block;
    width: 17px;
    font-weight: bold;
    color: inherit;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
}

.tags-input .loading {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 50%;
    right: 8px;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 0;
    background: url('spinner.gif');
    background-size: 16px 16px;
    opacity: 0.4;
}

.highlighted {
    color: #EFD100;
}

/* disabled state */
.tags-input.disable-all {
    background-color: #fcfcfc;
}
.tags-input.disable-all .typeahead-box {
    border: 1px solid #f0f0f0;
}

.tags-input.disable-all .token {
    background-color: #ebebeb;
}
.tags-input.disable-all .token a:hover {
    color: #999;
}

/* ----- */
.select-dropdown {
    position: absolute;
    z-index: 10;
    margin: 1px 0 0 0;
    width: 100%;
    background-color: #ffffff;
}

ul.select-dropdown-list {
    background: #ffffff;
    border: 1px solid #d0d0d0;
    border-top: 0 none;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 18px;
    color: #303030;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.select-dropdown-list li {
    padding: 2px 10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.select-dropdown-list li.selected {
    background-color: #ccfff8;
    cursor: pointer;
}

ul.select-dropdown-list li:hover {

}

.select-tags .token.selected {
    background-color: #eeeeee;
}
.select-dropdown-template {
    display: inline;
}