<div class="tags-input" ng-attr-style="max-width: {{ containerWidth }}px" disable-all="disabled">
    <div ng-repeat="tag in getTags()" class="token-item">
        <div class="token" tabindex="{{ $index }}"
             ng-click="tagSelect($event, tag)"
             ng-class="{ selected: isSelected(tag) }">
            <div class="token-template" ng-bind-html="getItemName(tag)"></div>
            <a class="token-remove" ng-show="isRemoveButtonEnabled" ng-click="tagRemove($event, $index)">×</a>
        </div>

    </div>
    <div class="token-item">
        <input auto-grow-input
               ng-model="tokenInputValue"
               ng-change="onInputValueChange(tokenInputValue)"
               ng-attr-placeholder="{{ !getTags().length ? placeholder : '' }}"
               autocomplete="off"
               ng-disabled="isDisabled">
    </div>
    <div class="loading" ng-show="loadingInProgress"></div>
</div>
